{% load static %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<title>
			{% block title %}{% endblock title %}
		</title>


		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous">

		<link
			href="https://fonts.googleapis.com/css?family=Beth+Ellen|Cardo|Crimson+Text|Dosis|EB+Garamond|Josefin+Sans|Josefin+Slab|Merienda&display=swap"
			rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="{% static 'qqqa/css/navbar.css' %}" rel="stylesheet">
        <link href="{% static 'qqqa/css/base.css' %}" rel="stylesheet">

		{% block link %} {% endblock link%}
	</head>

	<body class="body">
		{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
		{% endfor%} 
        {% endif %} 
        
        <div class="container">
            {% include 'qqqa/navbar.html' %}
        </div>

        {% block body %} 
        
        {% endblock body %}

		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>


		{% comment %} Popover not working is jquery script is enable {% endcomment %}
		{% comment %} <script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script> {% endcomment %}

		{% comment %} Enable popover by script {% endcomment %}
		<script>
			$('#pop-bitbucket').popover()
			$('#pop-gitlab').popover()
			$('#pop-github').popover()
			$('#pop-linkedin').popover()
			$('#pop-ownsite').popover()
		</script>


	</body>
</html>
