<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>

        {% block title %}{% endblock title %}

    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Cardo|Crimson+Text|Dosis|EB+Garamond|Josefin+Sans|Josefin+Slab|Merienda&display=swap" rel="stylesheet">
    
    {% block link %} {% endblock link%}

</head>

<body class="body">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor%}
    {% endif %}

    {% block body %}{% endblock %}


</body>

</html>
