{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} All Question {% endblock title %}

{% block link %}

<link rel="stylesheet" href="{% static 'qqqa/css/allquestion.css' %}">

{% endblock link %}

{% block body %}

{% comment %} Page welcome text section {% endcomment %}
{% comment %}
.class {
    'pwts' == page welcome text section,
    'ti'  == title,
    'p' == paragraph,

}

{% endcomment %}
<div class="jumbotron jumbotron-fluid container pwts">
  <div class="container">
    <h1 class="display-6 ti">Question and Answer</h1>
    <p class="lead p">The Ultimate quick QUESTION and quick ANSWER paltform for Developer and non-Developer.
    The easiest way to find your solution.</p>
  </div>
</div>

{% comment %} Search Question section {% endcomment %}

<div class="container css">
    <nav class="navbar csearchnav">
        <form class="form">
            <i class="fa fa-search"></i>
            <input class="csinput" type="search" placeholder="Search . . ." aria-label="Search">
        </form>
    </nav>
</div>


{% comment %} All question will shown here {% endcomment %}

{% comment %} Ask Question  Redirect Link {% endcomment %}
<div class="container" id="ca">
    <div id="ah1">
        <h2>All Questions</h2>
    </div>
    <div id="ah2">
        <a id="aq" href="#">Ask Question</a>
    </div>
</div>

{% comment %} Question COUNT and FILTERS {% endcomment %}
<div class="container" id="cb">
    <div id="bh1">
        <h2>12,34,56,78 questions</h2>
    </div>
    <div id="bh2">
        <a id="bq" href="#"><i class="fa fa-filter"></i> Filters </a>
    </div>
</div>

{% comment %} All question will shown here as LIST {% endcomment %}
<div class="container" id="cc">
    <div id="ch1">
        <a id="ctitle" href="#"> Amazon Web Services - S3 'The authorization mechanism you 
        have provided is not supported' in Django. </a>
    </div>
    <div id="ch2">
        <a id="ctags" href="#">Django</a>
        <a id="ctags" href="#">Amazon</a>
        <a id="ctags" href="#">Python</a>
        <a id="ctags" href="#">AWS</a>
    </div>
    <div id="ch3">
        <div id="ch3-1">
            <div id="ch3-1-1">
                <ul>
                    <abbr title="Total Solutions"><li id="solutions">Sol's: 5</li></abbr>
                    <abbr title="Total votes"><li id="votes">Vote: 7</li></abbr>
                </ul>
            </div>
        </div>
        <div id="ch3-2">
            <div id="ch3-2-1">
                <img src="http://orig00.deviantart.net/7c94/f/2016/105/d/8/saitama_chibix3_by_miyuki_tsukiyono-d9yzknw.png">
            </div>
            <div id="ch3-2-2">
                <ul>
                    <li><a id="username" href="#">nk</a></li>
                    <li><small>10 mins ago</small></li>
                </ul>
            </div>
        </div>
    </div>
</div>







<div class="cfs container">

    {% for q in qqqa_posts %}
    <a href="#">{{ q.author }}</a>
    <small>{{ q.posted_date }}</small>
    <hr>
    <h2><a href="{% url 'question-detail-view' q.id q.slug %}">Post Title : {{ q.qq_title }}</a></h2>
    <h2>Post Details : {{ q.qq_details|safe }}</h2>
    <h3>Post Slug: {{ q.slug }} </h3>
    <br>
    {% empty %}
    <h1> No Post Yet </h1>
    {% endfor %}

</div>

{% endblock body %}

