{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Ask Question {% endblock title %}

{% block link %}

<link rel="stylesheet" href="{% static 'qqqa/su.css' %}">

{% endblock link %}

{% block body %}


<div class="ss">

    <div class="ss1">
        <div class="su-header">
            <h2>Ask New Question</h2>
        </div>

        <div class="cfs">
            <form class="su-form" method="post">
                {% csrf_token %}

                {{ form|crispy }}

                <div class="cbs">

                    <button class="button" type="submit">Ask</button>

                </div>

            </form>

        </div>

    </div>


</div>
{% endblock body %}
