{% load crispy_forms_tags %}
<div>
	<h4>{{ comments.count }} - Comment{{ comments | pluralize }}</h4>
	<hr />
	{% for qc in comments %}

	{{ qc.comment }}
	{{ qc.author | capfirst }}
	{{ qc.c_posted_time | timesince }} ago
	<br />

	{% empty %}
	<h1>No comments here</h1>
	{% endfor %}
</div>


{% if user.is_authenticated %}
<div>
	<form method="post">
        {% csrf_token %}
		{{ comment_form|crispy }}
		<button type="submit">Comment</button>
	</form>
</div>

{% else %}
    <small>Sign In for Comment </small> <a href="{% url 'signin' %}">Sign In</a>
{% endif %}
