{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Post Details - {{ object.qq_title }}
{% endblock title %}
{% block link %}

<link rel="stylesheet" href="{% static 'qqqa/css/qDetails.css' %}" />

{% endblock link %}

{% block body %}

{% comment %} Question details page {% endcomment %}

<div class="container c-box">
	<div id="c-sbox-1">
	{% comment %} All question details will be there {% endcomment %}
		<div id="c-qd-box">
			<div id="c-usersection">
				<img src="http://orig03.deviantart.net/5f51/f/2015/356/5/a/saitama_chibi_by_sparksreactor-d9l1blf.png">
				<a href="#">nk</a>
				<small> - 10 mins ago</small>
			</div>
			<div id="c-qsection">
				<lead id="l-1">Question:</lead>
				<h3 id="c-qtitle">Amazon Web Services - S3 'The authorization mechanism you 
				have provided is not supported' in Django. </h3>
				<lead id="l-2">Problem in details:</lead>
				<p id="c-qdetails">
					# env.py
					os.environ.setdefault("AWS_ACCESS_KEY_ID", "**********")
					os.environ.setdefault("AWS_SECRET_ACCESS_KEY", "AWS_ACCESS_KEY_ID", "**********")
					os.environ.setdefault("AWS_STORAGE_BUCKET_NAME", "mybucket")
					os.environ.setdefault("AWS_S3_REGION_NAME", "eu-west-2")

					# settings.py

					AWS_ACCESS_KEY_ID = os.environ.get('AWS_ACCESS_KEY_ID')
					AWS_SECRET_ACCESS_KEY = os.environ.get('AWS_SECRET_ACCESS_KEY')
					AWS_STORAGE_BUCKET_NAME = os.environ.get('AWS_STORAGE_BUCKET_NAME')
					AWS_S3_REGION_NAME = os.environ.get('AWS_S3_REGION_NAME')

					AWS_S3_FILE_OVERWRITE = False
					AWS_DEFAULT_ACL = None
					DEFAULT_FILE_STORAGE = 'storages.backends.s3boto3.S3Boto3Storage'

					# boto.cfg

					[s3] use-sigv4 = True
				</p>
				<div id="c-qtags">
					<h5>Tags:</h5>
					<abbr title="Tags"><a id="c-tags" href="#">Django</a></abbr>
					<abbr title="Tags"><a id="c-tags" href="#">Amazon</a></abbr>
					<abbr title="Tags"><a id="c-tags" href="#">Python</a></abbr>
					<abbr title="Tags"><a id="c-tags" href="#">AWS</a></abbr>
    			</div>
				<div id="line">
				</div>
			</div>
		</div>
		<div id="c-ua-box">
		{% comment %} 
			Vote section,
			Vote count,
			de-voted,
			voted 
		{% endcomment %}
			<div id="c-v-count">
				<ul>
					<abbr title="Make a vote">
						<li>
							<a href="#">
								<i class="fa fa-hand-rock-o not-voted"></i>
							</a>
						</li>
					</abbr>
					
					{% comment %} If voted {% endcomment %}
					{% comment %} <abbr title="Thanks for your vote">
						<li>
							<a href="#">
								<i class="fa fa-hand-peace-o"></i>
							</a>
						</li>
					</abbr> {% endcomment %}
					<li> - 5</li>
				</ul>
			</div>
			{% comment %}
				Save question for later,
				un-save if want 
			{% endcomment %}
			<div id="c-save">
				<ul>
					<abbr title="Save for later">
						<li>
							<a href="#">
								<i class="fa fa-bookmark-o"></i>
							</a>
						</li>
					</abbr>
					<li><small>Save for later</small></li>

					{% comment %} If saved {% endcomment %}
					{% comment %} <abbr title="Saved">
						<li>
							<a href="#">
								<i class="fa fa-bookmark"></i>
							</a>
						</li>
					</abbr>
					<li><small>Saved in your profile</small></li> {% endcomment %}
				</ul>
			</div>
			<div id="c-s-section">
				<div id="c-s-count">
					<h3>5 solution</h3>
				</div>
				<div id="c-s-all">
					<a href="#">nk</a>
					<small> - 1 min ago</small>
					<div id="c-u-solution">
						<p>os.environ.setdefault('S3_USE_SIGV4', 'True')Amazon Web Services - 
						S3 'The authorization mechanism you have provided is not supported' in Django.</p>
					</div>
				</div>

				<div id="c-s-all">
					<a href="#">nk</a>
					<small> - 1 min ago</small>
					<div id="c-u-solution">
						<p>os.environ.setdefault('S3_USE_SIGV4', 'True')Amazon Web Services - 
						S3 'The authorization mechanism you have provided is not supported' in Django.</p>
					</div>
				</div>

				<div id="c-s-all">
					<a href="#">nk</a>
					<small> - 1 min ago</small>
					<div id="c-u-solution">
						<p>os.environ.setdefault('S3_USE_SIGV4', 'True')Amazon Web Services - 
						S3 'The authorization mechanism you have provided is not supported' in Django.</p>
					</div>
				</div>


				{% comment %} if no solution found {% endcomment %}
				<div id="c-s-none">
					<h4>No solution yet</h4>
				</div>
			</div>
		</div>
	</div>
</div>


































































<div class="ss container">
	<a href="#">{{ post.author }}</a>
	<small>{{ post.posted_date }}</small>
	<hr />
	<h2>Post Title : {{ post.qq_title }}</h2>
	<h2>Post Details : {{ post.qq_details | safe }}</h2>
	<h3>Post Slug: {{ post.slug }}</h3>
	<br />

	{% comment %} Like Section {% endcomment %}
	<div id="like-section">
		{% include 'qqqa/qqqapost_like_section.html' %}
	</div>
	{% comment %} Like section End {% endcomment %} 

	{% if object.author == user%}
	<div class="cds">

		<a class="btn btn-primary"
			href="{% url 'question-update-view' object.id object.slug %}">Update</a>
		<a class="btn btn-outline-danger"
			href="{% url 'question-delete-view' object.id object.slug %}">Delete</a>

	</div>
	{% endif %} 

	
	{% if post.author == user%}
	<div class="cds">
		<a class="btn btn-primary"
			href="{% url 'question-update-view' post.id post.slug %}">Update</a>
		<a class="btn btn-outline-danger"
			href="{% url 'question-delete-view' post.id post.slug %}">Delete</a>
	</div>
	{% endif %}
</div>
<br />
<div>
	<!-- Comments Section -->
	{% if not post.disable_comments %}
	<div class="comment-section container">
		{% include 'qqqa/qqqapost_comment_section.html' %}
	</div>
	{% else %}
		<div>
			<h2> Comments are disabled by author </h2>
		</div>
	{% endif %}
</div>

{% endblock body %}
