
{{ post.likes.count }} Vote{{ post.likes.all|pluralize }} 

{% if user.is_authenticated %}
    
    {% if user in post.likes.all %}
        <h5> Voted </h5>
        <a id="like" href="{{ post.get_nonvote_url }}"> Cancel Vote <i class="fa fa-hand-peace-o"></i></a> 
    {% else %}
        <h5> Not Voted </h5>
        <a id="like" href="{{ post.get_vote_url }}"> Vote <i class="fa fa-hand-rock-o not-voted"></i></a> 
    {% endif %}

{% else %}
    Sign Up for vote
{% endif %}
