{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Confirm Delete {% endblock title %}

{% block link %}

<link rel="stylesheet" href="{% static 'qqqa/su.css' %}">

{% endblock link %}

{% block body %}


<div class="ss">

    <div class="ss1">
        <div class="su-header">
            <h2>Confirm delete</h2>
        </div>

        <div class="cfs">
            <form class="su-form" method="post">
                {% csrf_token %}
                <h2>Are you sure you want to delete "{{ object.qq_title}}" ? </h2>

                <div class="cbs">
                    <a href="{% url 'question-detail-view' object.id object.slug %}">Cancel</a>
                    <button class="button" type="submit">Yes, Delete</button>
                </div>

            </form>

        </div>

    </div>


</div>
{% endblock body %}
