{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Profile Details{% endblock title %}

{% block link %}

<link rel="stylesheet" href="{% static 'accounts/profilestyle.css' %}">

{% endblock link %}

{% block body %}

<div class="container c-pas">

    <div id="c-left">
        <div id="c-header">
            <div id="c-u-avatar">
                <img src="{{ user.avatar.avatar.url }}">
            </div>

        </div>

        <div id="one">
            <div id="c-name">
            <div id="c-u-name">
                <span id="c-name">@{{ user.username }} - </span><small>noob</small>
            </div>

            <div id="c-u-activity">
                <abbr title="Total asked question by this user"><span><i class="fa fa-pencil"></i>8</span></abbr>
                <abbr title="Total solutions by this user"><span><i class="fa fa-stethoscope"></i>8</span></abbr>
                <abbr title="Total vote by this user"><span><i class="fa fa-hand-paper-o"></i>8</span></abbr>
                <abbr title="Total saved by this user"><span><i class="fa fa-bookmark-o"></i>8</span></abbr>
            </div>

            <div id="c-u-smp">
                {% comment %} <h5>Social</h5> {% endcomment %}
                <abbr title="Gitlav Account"><span><a href="#"><i class="fa fa-gitlab"></i></a></span></abbr>
                <abbr title="Github Account"><span><a href="#"><i class="fa fa-github"></i></a></span></abbr>
                <abbr title="Bitbucket Account"><span><a href="#"><i class="fa fa-bitbucket"></i></a></span></abbr>
                <abbr title="LinkedIn Account"><span><a href="#"><i class="fa fa-linkedin"></i></a></span></abbr>
                <abbr title="Own Site"><span><a href="#"><i class="fa fa-eercast"></i></a></span></abbr>
            </div>
        </div>

        </div>
        
    </div>

    <div id="c-right">
        {% comment %} User own question section {% endcomment %}

        <div class="container" id="cb">

            {% comment %} <div id="bh2">
                <div id="bh2-header">
                    <span>Personal Info</span> <i class="fa fa-info-circle"></i>
                </div>
                
                <div id="pi">
                    <div id="pi-all">
                        <div id="pi-a">
                            <lead>User Name</lead>
                            <span>{{ user.username }}</span>
                        </div>
                        <div id="pi-a">
                            <lead>Email</lead>
                            <span>{{ user.email }}</span>
                        </div>
                    </div>
                </div>

            </div> {% endcomment %}

            <div id="bh3">
                <div id="bh3-header">
                    <span>Social Media Link</span><i class="fa fa-link"></i>
                    <a href="#" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">Edit</a>
                </div>

                <div id="sml">
                    <div id="sml-all">
                        <div id="sml-a">
                            
                            <div id="site-info-bitbucket">
                                <i class="fa fa-bitbucket" aria-hidden="true"></i>
                                {% if user.socialml.bitbucket_link %}
                                <a href="#">{{ user.socialml.bitbucket_link }}</a>
                                {% else %}
                                <a href="#">No records Found</a>
                                {% endif %}
                            </div>
                        </div>
                        <div id="sml-a">
                            
                            <div id="site-info-gitlab">
                                <i class="fa fa-gitlab" aria-hidden="true"></i>
                                {% if user.socialml.gitlab_link %}
                                <a href="#">{{ user.socialml.gitlab_link }}</a>
                                {% else %}
                                <a href="#">No records Found</a>
                                {% endif %}
                            </div>
                        </div>
                        <div id="sml-a">
                           
                            <div id="site-info-github">
                                <i class="fa fa-github" aria-hidden="true"></i>
                                {% if user.socialml.github_link %}
                                <a href="#">{{ user.socialml.github_link }}</a>
                                {% else %}
                                <a href="#">No records Found</a>
                                {% endif %}
                            </div>
                        </div>
                        <div id="sml-a">
                            
                            <div id="site-info-linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                {% if user.socialml.linkedin_link %}
                                <a href="#">{{ user.socialml.linkedin_link }}</a>
                                {% else %}
                                <a href="#">No records Found</a>
                                {% endif %}
                            </div>
                        </div>
                        <div id="sml-a">
                            
                            <div id="site-info-ow">
                                <i class="fa fa-globe" aria-hidden="true"></i> 
                                {% if user.socialml.own_site %}
                                <a href="#">{{ user.socialml.own_site }}</a>
                                {% else %}
                                <a href="#">No records Found</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% comment %} Collapse is here for sml {% endcomment %}
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ sml_form|crispy }}

                                <button type="submit" class="btn btn-dark">Update</button>
                            </form>
                        </div>
                    </div>
                    {% comment %} Collapse end here {% endcomment %}
                </div>

            </div>
    </div>
</div>




{% endblock body %}












{% comment %}  {% endcomment %}

    <div class="collapse" id="collapseExample">
        
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ sml_form|crispy }}
                        <button type="submit" class="btn btn-dark">Update</button>
                    </form>
                </div>
            </div>
        
    </div>


