div.ss {
	padding-left: 35px;
}

.ss1 {
	width: 700px;
	border-left: darkorange 3px solid;
	/* background-color: rgba(47, 79, 79, 0.11); */
	padding: 10px;
	padding-left: 20px;
}

div.si-header {
	/* border: #222831 2px solid;
    background-color: #222831; */
}

div.si-header h2 {
	color: #fdfdfd;
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
}

.alert-danger {
	color: ivory;
	border: maroon 2px solid;
	border-radius: 2px;
	background-color: transparent;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

b,
strong {
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
	color: aliceblue;
	/* border: crimson 1px solid; */
	padding: 2px;
}

.asteriskField {
	display: none;
}

div.cfs {
	margin-top: 30px;
}

.un,
.up::placeholder {
	color: #fdfdfd;
}

.si-form .textinput {
	width: 300px;
	height: 50px;
	font-size: 20px;
	font-family: 'Josefin Slab', serif;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	background-color: #111111;
	border: rgba(250, 229, 234, 0.562) 2px solid;
	border-radius: 2px;
	/* border: teal 2px solid; */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.si-form .textinput::placeholder {
	color: #fdfdfd;
	font-family: 'Josefin Slab', serif;
}

.si-form .textinput:focus {
	border: 2px solid goldenrod;
	border-left: 4px solid gold;
	color: #fdfdfd;
	font-family: 'Josefin Slab', serif;
	/* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
	box-shadow: 0 0 3px goldenrod;
}

.col-form-label {
	color: rgb(228, 255, 228);
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	/* font-weight: bold; */
}

.cbs .button {
	padding: 10px;
	width: 170px;
	height: auto;
	border-radius: 2px;
	border-style: none;
	border: 2px solid #fdfdfd;
	font-size: 23px;
	font-weight: normal;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
	cursor: pointer;
	color: #fdfdfd;
	background-color: #111111;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.cbs .button:hover {
	color: #fdfdfd;
	border: #fdfdfd 2px solid;
	/* background-color: #222831; */
	transition: box-shadow 0.3s ease-in-out;

	/* Gradiend background color */

	background: #ff8008; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#ffc837,
		#ff8008
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#ffc837,
		#ff8008
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cbs .button:focus {
	color: #fdfdfd;
	border: #fdfdfd 2px solid;

	background: #ff512f; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#dd2476,
		#ff512f
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#dd2476,
		#ff512f
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	transition: box-shadow 0.3s ease-in-out;
}

.l {
	margin-top: 5px;
}

.l a {
	font-size: 25px;
	text-decoration-style: dashed;
	font-family: 'Dosis', sans-serif;
}

.l span {
	color: aquamarine;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
}

.l a {
	color: #fdfdfd;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
}

li {
	list-style: none;
}
