div.ss {
	padding-left: 35px;
}

.ss1 {
	width: 700px;
	border-left: mediumspringgreen 3px solid;
	/* background-color: rgba(47, 79, 79, 0.11); */
	padding: 10px;
	padding-left: 20px;
}

div.su-header {
	/* border: #222831 2px solid;
    background-color: #222831; */
}

div.su-header h2 {
	color: #fdfdfd;
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
}

.alert-danger {
	color: ivory;
	border: maroon 2px solid;
	border-radius: 2px;
	background-color: transparent;
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

b,
strong {
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
	font-size: 10px;
	color: aliceblue;
	border: #35bcf5 1px solid;
	border-left: crimson 4px solid;
	padding: 2px;
	padding-left: 5px;
}

.asteriskField {
	display: none;
}

div.cfs {
	margin-top: 30px;
}

.su-form .textinput {
	width: 300px;
	height: 50px;
	font-size: 20px;
	font-family: 'Josefin Slab', serif;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	background-color: #111111;
	border: rgba(250, 229, 234, 0.562) 2px solid;
	border-radius: 2px;
	/* border: teal 2px solid; */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.email {
	width: 300px;
	height: 50px;
	font-size: 20px;
	font-family: 'Josefin Slab', serif;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	background-color: #111111;
	border: rgba(250, 229, 234, 0.562) 2px solid;
	border-radius: 2px;
	/* border: teal 2px solid; */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.su-form .textinput::placeholder {
	color: #fdfdfd;
	font-family: 'Josefin Slab', serif;
}

.email::placeholder {
	color: #fdfdfd;
	font-family: 'Josefin Slab', serif;
}

.su-form .textinput:focus {
	border: #35bcf5 2px solid;
	border-left: 8px solid #35bcf5;
	color: #fdfdfd;
	font-family: 'Josefin Slab', serif;
	/* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
	box-shadow: 0 0 5px rgba(81, 204, 238, 0.568);
}

.email:focus {
	border: 2px solid #35bcf5;
	border-left: 8px solid #35bcf5;
	color: #fdfdfd;
	font-family: 'Josefin Slab', serif;
	/* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
	background-color: transparent;
	box-shadow: 0 0 5px rgba(81, 204, 238, 0.568);
}

.col-form-label {
	color: rgb(228, 255, 228);
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	/* font-weight: bold; */
}

.cbs .button {
	padding: 10px;
	width: 170px;
	height: auto;
	border-radius: 2px;
	border-style: none;
	border: 2px solid #fdfdfd;
	font-size: 23px;
	font-weight: normal;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
	cursor: pointer;
	color: #fdfdfd;
	background-color: #111111;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.cbs .button:hover {
	color: #fdfdfd;
	border: #fdfdfd 2px solid;
	/* background-color: #222831; */
	transition: box-shadow 0.3s ease-in-out;

	/* Gradiend background */

	background: #136a8a; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#267871,
		#136a8a
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#267871,
		#136a8a
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cbs .button:focus {
	color: #fdfdfd;
	border: #fdfdfd 2px solid;
	background: #eb3349; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#f45c43,
		#eb3349
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#f45c43,
		#eb3349
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: box-shadow 0.3s ease-in-out;
}

.l {
	margin-top: 5px;
}

.l a {
	font-size: 25px;
	text-decoration-style: dashed;
	font-family: 'Dosis', sans-serif;
}

.l span {
	color: aquamarine;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
}

.l a {
	color: #fdfdfd;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
}

li {
	list-style: none;
}
