{% extends 'master.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Sign Up {% endblock title %}

{% block link %}

<link rel="stylesheet" href="{% static 'susi/su.css' %}">

{% endblock link %}

{% block body %}


<div class="ss">

    <div class="ss1">

        <div class="cfs">

            <div class="l">

                <small class="text-muted">

                    <span>You are loged out!!</span>
                    <a href="{% url 'signin' %}">Sign In</a>

                </small>

            </div>

        </div>

    </div>


</div>


{% endblock body %}
