
<nav class="navbar navbar-expand-lg navbar-dark cn">
	<a class="navbar-brand" href="#">Solution Box</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-lg-auto">
			<li class="nav-item cnli">
				<a class="nav-link cnl cnl-c1" href="#">Q & A</a>
			</li>
			<li class="nav-item cnli">
				<a class="nav-link cnl cnl-c2" href="#">Forum</a>
			</li>
			<li class="nav-item cnli">
				<a class="nav-link cnl cnl-c3" href="#">Event</a>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto">
			{% if user.is_authenticated %}
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle cba"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					{{ user|capfirst }}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item cbad" href="#">Profile</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item cbad" href="{% url 'logout' %}">Logout</a>
				</div>
			</li>
			{% else %}
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle cba"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					Account
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item cbad" href="#">Login</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item cbad" href="#">Register</a>
				</div>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
