{% extends 'master.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Sign In {% endblock title %}

{% block link %}

<link rel="stylesheet" href="{% static 'susi/auth/si.css' %}">

{% endblock link %}

{% block body %}

<!-- Sign In section -->

<div class="ss container">

    <!-- Sign In form section -->

    <div class="ss1">
        <div class="si-header">
            <h2>Sign In</h2>
        </div>

        <div class="cfs">

            <form class="si-form" method="POST">
                {% csrf_token %}

                {{ form|crispy }}

                <div class="cbs">

                    <button class="button" type="submit">Sign In</button>

                </div>

            </form>

            <div class="l">

                <small class="text-muted">

                    <span>Need an account?</span>
                    <a href="{% url 'signup' %}">Sign Up</a>

                </small>

            </div>

        </div>

    </div>

    <!-- Sign In form section end -->

</div>

<!-- Sign In section end -->

{% endblock body %}
