{% extends 'master.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Sign Up {% endblock title %}

{% block link %}

<link rel="stylesheet" href="{% static 'susi/auth/su.css' %}">

{% endblock link %}

{% block body %}

<!-- Sign Up section -->

<div class="container ss">

    <!-- Sign Up form section -->

    <div class="ss1">
        <div class="su-header">
            <h2>Sign Up</h2>
        </div>

        <div class="cfs">
            <form class="su-form" method="post">
                {% csrf_token %}

                {{ form|crispy }}

                <div class="cbs">

                    <button class="button" type="submit">Sign Up</button>

                </div>

            </form>

            <div class="l">

                <small class="text-muted">

                    <span>Already have a account?</span>
                    <a href="{% url 'signin' %}">Sign In</a>

                </small>

            </div>

        </div>

    </div>

    <!-- Sign Up form section end -->

</div>

<!-- Sign Up section end -->

{% endblock body %}
