.jumbotron-fluid {
	background-color: #111111;
	/* border: #fdfdfd 1px solid; */
	width: 50%;
	height: 100px;
	/* margin-right: 420px; */
	margin-left: 121px;
	margin-top: -10px;
	margin-bottom: 5px;
}

.h1,
h1 {
	color: #fdfdfd;
	margin-top: -50px;
	text-align: left;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
}

.lead {
	color: #fdfdfd;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
}

.material-icons .md-light {
	color: rgba(white, white, white, 0);
}

.css {
	/* border: #fdfdfd 1px solid; */
	margin-top: 20px;
	margin-left: 130px;
	/* width: 80%; */
	height: 80px;
}

.csinput {
	width: 600px;
	height: 50px;
	border-radius: 50px;
	background-color: transparent;
	border: #fdfdfd 2px solid;
	/* border-left: #fdfdfd 2px solid;
	border-bottom: #fdfdfd 2px solid; */
	padding-top: 5px;
	padding-left: 60px;
	margin-left: -50px;
	font-family: 'Josefin Slab', serif;
}

.csinput:focus {
	color: #fdfdfd;
	font-size: 20px;
	border: #15ad2f 2px solid;
	border-radius: 0;
}

.csinput::placeholder {
	color: #fdfdfd;
	font-size: 20px;
}

.fa-search {
	color: #fdfdfd;
	font-size: 20px;
}

#ca {
	width: 800px;
	height: 60px;
	/* border: 1px solid #fdfdfd; */
	margin-bottom: 15px;
	margin-left: 120px;
}

#ah1 {
	float: left;
}

#ah1 h2 {
	color: #fdfdfd;
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
}

#ah2 {
	float: right;
}

#ah2 a {
	color: #fdfdfd;
	padding: 12px;
	font-size: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	border: 3px solid #fdfdfd;
	transition: box-shadow 0.3s ease-in-out;
}

#ah2 a:hover {
	border-color: aquamarine;
	background-color: #111111;
	transition: box-shadow 0.3s ease-in-out;
}

#ah2 a:focus {
	background-color: teal;
	transition: box-shadow 0.3s ease-in-out;
}

#cb {
	width: 800px;
	height: 50px;
	border-bottom: 1px solid #fdfdfd;
	margin-bottom: 20px;
	margin-left: 120px;
}

#bh1 {
	float: left;
}

#bh1 h2 {
	color: #fdfdfd;
	font-size: 25px;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
}

#bh2 {
	float: right;
}

#bh2 a {
	color: #fdfdfd;
	padding: 4px 20px;
	font-size: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	border: 2px solid #fdfdfd;
	transition: box-shadow 0.3s ease-in-out;
}

#bh2 a:hover {
	/* border-color: aquamarine; */
	background-color: #111111;
	transition: box-shadow 0.3s ease-in-out;
}

#bh2 a:focus {
	background-color: teal;
	transition: box-shadow 0.3s ease-in-out;
}

#cc {
	width: 800px;
	height: auto;
	padding: 10px;
	/* border-bottom: 1px solid #424040; */
	border-left: 2px solid #fdfdfd;
	/* margin-bottom: 80px; */
	margin-left: 120px;
	/* background-color: #222831; */
	box-shadow: 0px 11px 12px -19px rgb(44, 46, 44);
}

#cc #ch1 {
	margin-bottom: 15px;
	height: auto;
	/* padding: 8px;
	border-left: deepskyblue 3px solid;
	background-color: #1f2022; */
	text-align: justify;
}

#cc #ch1 a {
	color: #fdfdfd;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
}

#cc #ch2 {
	width: auto;
	height: auto;
	margin-bottom: 10px;
	/* padding: 8px;
	border-left: yellow 2px solid;
	background-color: #151516; */
}

#cc #ch2 #ctags {
	border-radius: 2px;
	padding: 1px 5px;
	/* MARGIN-BOTTOM is not working */
	/* margin-bottom: 5px; */
	margin-right: 5px;
	/* float: left; */
	font-size: 15px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	text-align: center;
	transition: box-shadow 0.3s ease-in-out;
	color: #fdfdfd;
	background-color: #222831;
}

#cc #ch2 #ctags:hover {
	background-color: darkslategray;
	transition: box-shadow 0.3s ease-in-out;
}

/* User activities sections */

#cc #ch3 {
	width: 100%;
	/* background-color: #222831; */
	margin-top: 40px;
}

/* #cc #ch3 #ch3-1 {
	float: left; */
/* width: 400px;
} */

#cc #ch3 #ch3-1-1 ul {
	list-style: none;
	margin-left: -40px;
}

#cc #ch3 #ch3-1-1 ul li {
	color: #fdfdfd;
	font-size: 15px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	display: inline;
	margin-right: 50px;
	padding: 2px 10px;
}

#cc #ch3 #ch3-1-1 #solutions {
	border: 1px solid #c7ebc3;
}

#cc #ch3 #ch3-1-1 #votes {
	border: 1px solid #fcbcb3;
}

#cc #ch3 #ch3-1-2 h3 {
	color: #fdfdfd;
}

#cc #ch3 #ch3-2 {
	/* float: right; */
	margin-left: 500px;
	margin-top: -40px;
}

#cc #ch3 #ch3-2-1 img {
	width: 50px;
	height: 50px;
	/* border: #fdfdfd 1px solid; */
}

#cc #ch3 #ch3-2-2 {
	margin-left: 50px;
}

#cc #ch3 #ch3-2-2 ul {
	/* width: 200px; */
	list-style: none;
	margin-top: -50px;
	/* border: #fdfdfd 1px solid; */
}

#cc #ch3 #ch3-2-2 ul li {
	margin-left: -30px;
	color: #fdfdfd;
	font-size: 15px;
	font-family: 'Dosis', sans-serif;
}

#cc #ch3 #ch3-2-2 #username {
	color: aqua;
	letter-spacing: 2px;
}

#cc #ch3 #ch3-2-2 small {
	letter-spacing: 2px;
}
