.container {
	margin-bottom: 3em;
	/* it will remove soon */
}

.navbar-brand {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
}

.cn {
	background-color: #111111;
	height: 90px;
	/* border: solid 1px #fdfdfd; */
}

a:link {
	text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fdfdfd;
}

.cnl {
	margin-left: 30px;
	padding: 6px;
	width: 150px;
	height: auto;
	border-radius: 2px;
	border-style: none;
	border: 2px solid #fdfdfd;
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
	cursor: pointer;
	color: #fdfdfd;
	/* background-color: #222831; */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.cnl-c1:hover {
	/* border: 2px solid aquamarine;
	color: aquamarine; */
	background-color: #222831;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.cnl-c2:hover {
	/* border: 2px solid #ff9a00;
	color: #ff9a00; */
	background-color: #222831;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.cnl-c3:hover {
	/* border: 2px solid #fc5185;
	color: #ff9a00; */
	background-color: #222831;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.cba {
	margin-right: 30px;
	padding: 10px;
	width: 100px auto;
	height: 60px;
	border-radius: 2px;
	border-style: none;
	border: 2px solid #fdfdfd;
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
	cursor: pointer;
	color: #fdfdfd;
	background-color: #111;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.cba:hover {
	background-color: #222831;
	transition: box-shadow 0.3s ease-in-out;
	/* border: 2px solid #f9ed69; */
}
