#line {
	border-bottom: rgb(31, 30, 30) 1px solid;
}

.c-box {
	width: 100%;
	height: auto;
}

#c-sbox-1 {
	width: 800px;
	/* border: 1px solid #fdfdfd; */
	padding: 10px;
}

#c-usersection {
	margin-bottom: 5px;
}

#c-usersection img {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 1px solid #fdfdfd;
}

#c-usersection a {
	color: aqua;
	letter-spacing: 2px;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	margin-left: 5px;
}

#c-usersection small {
	color: darkorange;
	letter-spacing: 2px;
	font-size: 15px;
	font-family: 'Dosis', sans-serif;
}

#c-qsection #l-1 {
	color: snow;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	/* border-left: #00b8a9 2px solid; */
	/* padding-left: 10px; */
	margin-bottom: 5px;
}

#c-qsection #c-qtitle {
	color: #fdfdfd;
	letter-spacing: 2px;
	text-align: justify;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	border-left: #00b8a9 2px solid;
	padding: 10px;
	padding-left: 10px;
	/* background-color: rgba(172, 164, 165, 0.116); */
}

#c-qsection #l-2 {
	color: snow;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	/* border-left: crimson 4px solid; */
	/* padding-left: 10px; */
	margin-bottom: 5px;
}

#c-qsection #c-qdetails {
	color: #fdfdfd;
	letter-spacing: 2px;
	text-align: unset;
	font-size: 15px;
	font-weight: normal;
	font-family: 'Dosis', sans-serif;
	border-left: crimson 4px solid;
	padding: 10px;
	padding-left: 10px;
	background-color: rgba(172, 164, 165, 0.116);
}

#c-qtags {
	margin-top: 10px;
	margin-bottom: 10px;
}

#c-qtags abbr {
	text-decoration: none;
}

#c-qtags h5 {
	color: snow;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	border-left: chocolate 2px solid;
	padding-left: 10px;
	margin-bottom: 10px;
}

#c-qtags #c-tags {
	border-radius: 2px;
	padding: 5px 5px;
	margin-right: 5px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	text-align: center;
	transition: box-shadow 0.3s ease-in-out;
	color: #fdfdfd;
	background-color: #222831;
}

#c-qtags #c-tags:hover {
	background-color: darkslategray;
	transition: box-shadow 0.3s ease-in-out;
}

#c-ua-box {
	margin-top: 15px;
	/* background-color: aquamarine; */
	/* border: crimson 2px solid; */
}

#c-ua-box #c-v-count {
	/* float: left; */
	margin-left: -35px;
}

#c-ua-box #c-v-count ul {
	list-style: none;
}

#c-ua-box #c-v-count ul li {
	color: #fdfdfd;
	display: inline;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
}

#c-ua-box #c-v-count i {
	color: #fdfdfd;
	font-size: 30px;
}

#c-ua-box #c-v-count abbr {
	text-decoration: none;
}

#c-save {
	float: right;
	margin-top: -45px;
}

#c-save ul {
	list-style: none;
}

#c-save ul li {
	color: #fdfdfd;
	/* display: inline; */
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
}

#c-save i {
	color: #fdfdfd;
	font-size: 30px;
}

#c-save abbr {
	text-decoration: none;
}

#c-s-section {
	margin-top: 50px;
}

#c-s-section #c-s-count {
	padding: 10px;
	border-bottom: #fdfdff 2px solid;
}

#c-s-section #c-s-count h3 {
	color: #fdfdfd;
	letter-spacing: 2px;
	font-family: 'Dosis', sans-serif;
}

#c-s-none {
	margin-top: 50px;
	margin-bottom: 10px;
}

#c-s-none h4 {
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 10px;
	font-family: 'Dosis', sans-serif;
}

#c-s-all {
	margin-top: 10px;
	padding: 5px;
}

#c-s-all a {
	color: #f4f7f7;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}

#c-s-all small {
	color: palegoldenrod;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
}

#c-s-all #c-u-solution p {
	color: whitesmoke;
	padding: 10px;
	border-left: #17b978 4px solid;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	text-align: justify;
	background-color: #eaffd015;
}
