{% load static%}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<title>
			{% block title %}{% endblock title %}
		</title>

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>

		<link
			href="https://fonts.googleapis.com/css?family=Beth+Ellen|Cardo|Crimson+Text|Dosis|EB+Garamond|Josefin+Sans|Josefin+Slab|Merienda&display=swap"
			rel="stylesheet"
		/>

		<link href="{% static 'susi/body/navbar.css' %}" rel="stylesheet"/>
		<link href="{% static 'susi/body/body.css' %}" rel="stylesheet"/>

		{% block link %} {% endblock link%}
	</head>

	<body class="body">

        {% comment %} alert message here {% endcomment %}
        
        {% if messages %} 
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor%} 
        {% endif %} 

        {% comment %} End of alert message {% endcomment %}


        {% comment %} Navbar section here {% endcomment %}
        
		<div class="container">
			{% include 'susi/navbar.html' %}
		</div>

        {% comment %} Body section here {% endcomment %} 
        
        
        {% block body %}{% endblock %}

		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
        
	</body>
</html>
