.c-pas {
  /* border-bottom: azure 1px solid; */
  box-shadow: 0px 11px 12px -19px rgb(44, 46, 44);
  padding: 5px;
  width: 100%;
}

#c-left {
  width: 25%;
  float: left;
  /* border: #fdfdfd 1px solid; */
  background-color: #212121;
  padding: 10px;
  box-shadow: 0px 11px 12px -19px rgb(44, 46, 44);
}

#c-header {
  margin-bottom: 10px;
  /* border: #c7ebc3 1px solid; */
}

#c-header #c-u-avatar {
  text-align: center;
}

#c-header #c-u-avatar img {
  width: 100%;
  padding: 4px;
  margin-bottom: 5px;
}

/* Avatar change button style */
#c-u-avatar-change #change-text {
  text-align: center;
  color: #dbe2ef;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  border: crimson 2px solid;
  background-color: rgba(220, 20, 60, 0.377);
  box-shadow: 0px 11px 12px -19px rgb(44, 46, 44);
  transition: box-shadow 0.3s ease-in-out;
}

#c-u-avatar-change #change-text:hover {
  background-color: rgba(220, 20, 60, 0.534);
  transition: box-shadow 0.3s ease-in-out;
}

#one {
  background-color: #2a363b6e;
  border-left: 8px #c8f4de solid;
  box-shadow: 0px 11px 12px -19px rgb(44, 46, 44);
}

#c-u-name {
  padding: 4px;
  text-align: center;
  /* border-left: 3px goldenrod solid; */
}

#c-u-name #c-name {
  color: aliceblue;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 500;
}

#c-u-name small {
  font-family: 'Dosis', sans-serif;
  color: #fdfdfd;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
}

#c-u-activity {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 10px;
}

#c-u-activity abbr {
  text-decoration: none;
}

#c-u-activity span {
  color: whitesmoke;
  font-size: 15px;
  margin-right: 15px;
}

#c-u-activity i {
  color: whitesmoke;
  margin-right: 2px;
}

#c-u-smp {
  color: aliceblue;
  /* background-color: #111111; */
  text-align: center;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#c-u-smp span a {
  color: aliceblue;
  font-size: 20px;
  padding: 5px;
}

#c-u-smp abbr {
  text-decoration: none;
}

#profile-edit {
  padding: 4px;
  text-align: center;
  box-shadow: 0px 11px 12px -19px rgb(44, 46, 44);
  margin-top: 10px;
}

#profile-edit a {
  color: #fcefee;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #6eb6ffa6;
  border: #6eb6ff 2px solid;
  border-radius: 50px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  transition: box-shadow 0.3s ease-in-out;
}

#profile-edit a:hover {
  background-color: #6eb6ff;
  border: #6eb6ffa6 2px solid;
  transition: box-shadow 0.3s ease-in-out;
}

#profile-edit a:focus {
  background-color: crimson;
}

/* Question section - Right side */

#c-right {
  width: 71%;
  float: right;
  /* border: #fdfdfd 1px solid; */
}

/* Header count text */
/* #cb {
  
} */

/* #bh1 {
  width: 750px;
  height: 50px;
  padding: 4px;
  border-right: #4ecca3 10px solid;
  margin-bottom: 30px;
  margin-left: -1px;
  background-color: #222831;
  box-shadow: 0px 11px 12px -19px rgb(44, 46, 44);
}

#bh1 h2 {
  color: #fdfdfd;
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 5px;
  padding: 5px;
}

#bh2 {
} */

#bh1 {
  margin-bottom: 20px;
  width: 750px;
  height: auto;;
  /* background-color: #393e46; */
  overflow: hidden;
  /* padding: 10px; */
  font-family: 'Dosis', sans-serif;
}

#bh1 a {
  color: #dbe2ef;
  float: left;
  letter-spacing: 1px;
  border: firebrick 2px solid;
  padding: 5px;
  background-color: rgba(178, 34, 34, 0.685);
  transition: box-shadow 0.3s ease-in-out;
}

#bh1 a:hover {
  background-color: rgba(245, 62, 62, 0.356);
  transition: box-shadow 0.3s ease-in-out;
}

#bh2-header {
  color: #fdfdfd;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  border-radius: 2px;
  border-left: cornflowerblue 3px solid;
  padding: 3px;
  padding-left: 10px;
}

/* Personal info box start */

#pi {
  margin-top: 10px;
  background-color: #40514e48;
  color: #fdfdfd;
  padding: 10px;
  width: 750px;
  height: auto;
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
}

#pi-a {
  margin-bottom: 10px;
}

#pi-a lead {
  letter-spacing: 3px;
  /* border-bottom: 1px dashed #cbf1f5; */
  text-align: justify;
  margin-right: 10px;
}

#pi-a span {
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 2px;
  background-color: #cbf1f52a;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

/* Social Media Link */

#bh3 {
  margin-top: 20px;
}

#bh3-header {
  color: #fdfdfd;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  border-radius: 2px;
  border-left: #ff9a00 3px solid;
  padding: 3px;
  padding-left: 10px;
}

#bh3-header i {
  margin-left: 5px;
  rotate: 60%;
}

#bh2-header a,
#bh3-header a {
  font-weight: normal;
  /* float: right; */
  color: #fdfdfd;
  border: #393e46 2px solid;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

#bh2-header a:hover,
#bh3-header a:hover {
  border-color: #dbe2ef;
}

#sml {
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #f6f6f61a;
  color: #fdfdfd;
  padding: 10px;
  width: 750px;
  height: auto;
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
}

#sml-a {
  margin-bottom: 5px;
}

#sml-a i {
  padding-right: 5px;
  text-align: right;
  /* padding-left: 5px; */
}

#sml-ul {
  list-style: none;
  margin: 0px;
  margin-left: -50px;
  text-align: center;
}

#sml-ul li {
  display: inline-block;
  padding-left: 10px;
}
