{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Profile Details{% endblock title %}

{% block link %}

<link rel="stylesheet" href="{% static 'accounts/profilestyle.css' %}">


{% endblock link %}

{% block body %}

<div class="container c-pas">

    <div id="c-left">

        <div id="c-header">
            <div id="c-u-avatar">
                <img src="{{ user.avatar.avatar.url }}">
            </div>

        </div>

        <div id="one">
            <div id="c-name">
                <div id="c-u-name">
                    <span id="c-name">@{{ user.username }} - </span><small>noob</small>
                </div>

                <div id="c-u-activity">
                    <abbr title="Total asked question by this user"><span><i class="fa fa-pencil"></i>8</span></abbr>
                    <abbr title="Total solutions by this user"><span><i class="fa fa-stethoscope"></i>8</span></abbr>
                    <abbr title="Total vote by this user"><span><i class="fa fa-hand-paper-o"></i>8</span></abbr>
                    <abbr title="Total saved by this user"><span><i class="fa fa-bookmark-o"></i>8</span></abbr>
                </div>

                <div id="c-u-smp">
                    {% comment %} <h5>Social</h5> {% endcomment %}
                    <abbr title="Gitlav Account"><span><a href="#"><i class="fa fa-gitlab"></i></a></span></abbr>
                    <abbr title="Github Account"><span><a href="#"><i class="fa fa-github"></i></a></span></abbr>
                    <abbr title="Bitbucket Account"><span><a href="#"><i class="fa fa-bitbucket"></i></a></span></abbr>
                    <abbr title="LinkedIn Account"><span><a href="#"><i class="fa fa-linkedin"></i></a></span></abbr>
                    <abbr title="Own Site"><span><a href="#"><i class="fa fa-eercast"></i></a></span></abbr>
                </div>
            </div>

        </div>

    </div>

    <div id="c-right">
        {% comment %} User own question section {% endcomment %}

        <div class="container" id="cb">

            <div id="bh1">
                <a href="{% url 'edit-profile-link' %}">Edit Profile</a>
            </div>
            
            <div id="bh2">
                <div id="bh2-header">
                    <span>Personal Info</span> <i class="fa fa-info-circle"></i>
                </div>


                <div id="pi">
                    <div id="pi-all">
                        <div id="pi-a">
                            <lead>User Name</lead> <br>
                            <span>{{ user.username }}</span>
                        </div>
                        <div id="pi-a">
                            <lead>Email</lead> <br>
                            <span>{{ user.email }}</span>
                        </div>
                    </div>


                </div>

            </div>

            <div id="bh3">
                <div id="bh3-header">
                    <span>Social Media Link</span><i class="fa fa-link"></i>
                </div>
                <div id="sml">
                    <div id="sml-all">

                        {% comment %} Popover {% endcomment %}




                        {% comment %} popover script {% endcomment %}



                        {% comment %} Popover end {% endcomment %}


                    <ul id="sml-ul">
                        <li>
                            <div id="sml-a">
                                <div id="site-info-gitlab">
                                    <button type="button" id="pop-gitlab" class="btn btn-sm btn-dark" data-toggle="popover"
                                        title="{{ user.socialml.gitlab_link }}" 
                                        data-placement="bottom"
                                        data-content="Here is my GitLab link. You can follow me and my code.">
                                        <i class="fa fa-gitlab" aria-hidden="true"></i>
                                        Click
                                    </button>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div id="sml-a">

                                <div id="site-info-github">
                                    <button type="button" id="pop-github" class="btn btn-sm btn-dark" data-toggle="popover"
                                        title="{{ user.socialml.github_link }}"
                                        data-placement="bottom"
                                        data-content="Here is my Github link. You can follow me and my code.">
                                        <i class="fa fa-github" aria-hidden="true"></i>
                                        Click
                                    </button>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div id="sml-a">
                                <div id="site-info-bitbucket">
                                    <button type="button" id="pop-bitbucket" class="btn btn-sm btn-dark"
                                        data-toggle="popover" title="{{ user.socialml.bitbucket_link }}"
                                        data-placement="bottom"
                                        data-content="Here is my Bitbucket link. You can follow me and my code.">
                                        <i class="fa fa-bitbucket" aria-hidden="true"></i>
                                        Click
                                    </button>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div id="sml-a">

                                <div id="site-info-linkedin">
                                    <button type="button" id="pop-linkedin" class="btn btn-sm btn-dark"
                                        data-toggle="popover" title="{{ user.socialml.linkedin_link }}"
                                        data-placement="bottom"
                                        data-content="Here is my LinkedIn link. You can follow my activities.">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        Click
                                    </button>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div id="sml-a">

                                <div id="site-info-ow">
                                    <button type="button" id="pop-ownsite" class="btn btn-sm btn-dark" data-toggle="popover"
                                    data-placement="bottom"
                                        title="{{ user.socialml.own_site }}" data-content="Here is my Own site.">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        Click
                                    </button>
                                </div>

                            </div>
                        </li>
                    </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Include modal page here -->

    {% include 'accounts/modals/avatarmodal.html' %}



    {% endblock body %}